*{
    margin: 0;
    padding: 0;
    border:none;
}
#noidung{
    color:red;
}
.lorem{
  font-weight:bold;
}
#header{
    width: 100%;
    height:50px;
    line-height: 50px;
    background-color: green;
    color: #fff;
    text-align: center;
}
#footer{
    width: 100%;
    height:50px;
    line-height: 50px;
    color: #fff;
    background-color: blue;
    text-align: center;
}